---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About - Axiom"
  description="Axiom is a Philosophy society of NSUT"
  footer={false}
>
  <div class="text-center border-l-2 border-black text-4xl ml-1">
    <div class="rotate-90 h-8 w-10 font-extrabold tracking-wide">
      <h1 class="text-left p-2 text-xl font-mono">ABOUT</h1>
    </div>

    <div
      class="text-left p-8 pt-12 font-semibold space-y-8 sm:text-2xl text-lg"
    >
      <h1 class="font-bold text-4xl">Welcome to Axiom</h1>
      <h2>
        Axiom is the <span class="text-cyan-600">Philosophy Society</span> of NSUT.
      </h2>

      <h2>
        We are a group of people who are interested in the study of fundamental
        problems concerning matters such as <span class="text-cyan-600"
          >existence</span
        >, <span class="text-cyan-600">knowledge</span>, <span
          class="text-cyan-600">truth</span
        >, <span class="text-cyan-600">beauty</span> and <span
          class="text-cyan-600">morality</span
        >.
      </h2>

      <h2>
        We aim to provide a platform for students to discuss and debate on
        various philosophical topics.
      </h2>

      <h2 class="text-2xl">
        <p>
          <span class="text-neutral-500"
            >"Philosophy is a battle against the bewitchment of our intelligence
            by means of language."</span
          >
        </p>
        &emsp;&emsp; - Ludwig Wittgenstein
      </h2>

      <h2>
        <a href="/" class="text-emerald-500 hover:underline text-3xl">Home</a>
      </h2>
    </div>
  </div>
</Layout>
