---
---

<nav class="pt-10 text-left font-sans mb-10">
  <div class="container mx-auto flex justify-between items-center">
    <button onclick="
    window.location.href = '/'
    ">
      <div class="hover:underline text-center">
        <h1 class="font-bold text-xl">AXIOM</h1>
        <h1 class="font-bold text-xl">NSUT</h1>
      </div>
    </button>
    <nav class="font-semibold text-xl">
      <ul class="flex">
        <li>
          <a href="/about" class="hover:cursor-pointer hover:underline">
            ABOUT
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
