---
---

<nav class="w-full font-serif pt-10 flex justify-center mb-10">
  <div class="w-full flex flex-col justify-between items-center">
    <a href="/">
      <div class="flex flex-col items-center text-center">
        <h2
          class="text-4xl md:text-[calc((100vw/5)*0.22)] font-medium leading-none"
        >
          Philosophy Society of NSUT
        </h2>
        <h1 class="text-8xl md:text-[calc((100vw/3)/2)] font-bold leading-none">
          AXIOM
        </h1>
      </div>
    </a>
    <nav
      class="w-full flex flex-row text-center mt-4 justify-stretch text-base sm:text-2xl font-normal border-y-2 border-black"
    >
      <a href="/about" class="w-full font-medium border-r-2 border-black py-2"
        >About</a
      >
      <a href="/posts" class="w-full font-medium border-r-2 border-black py-2"
        >Blog</a
      >
      <a href="/events" class="w-full font-medium border-r-2 border-black py-2"
        >Events</a
      >
      <a href="/contact" class="w-full font-medium border-black py-2">Contact</a
      >
    </nav>
  </div>
</nav>
